<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="blobStorageConnection" value="DefaultEndpointsProtocol=https;AccountName=labthreestoragepmoser;AccountKey=GsAk36KIf9KU1/G3cEo/6gTO276bovXd85al9VqNccy9GVDbPuVwCb/Hbs6Jy0ThMYufGHMwpApdo1LH1oejaA==;EndpointSuffix=core.windows.net" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>